# Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.xcworkspace
*.xcuserdata

# Android
android/.gradle/
android/local.properties

# Misc
*.lock
*.log
.DS_Store
